.protected-session-password-component {
    display: flex;
    padding-inline: clamp(16px, 5vw, 40px);
    flex-direction: column;
    justify-content: center;

    label {
        margin-bottom: 8px;
    }
}
